@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --swiper-theme-color: #fff !important;
  --swiper-navigation-size: 20px !important;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 20px;
  height: 50px !important;
  width: 50px !important;
  border-radius: 9999999px;
  background: #927218e5;
}

.menu-card-img:hover img {
  @apply scale-110 duration-300;
}

.btn-shape {
  background: rgb(200, 25, 25);
  background: linear-gradient(
    90deg,
    rgba(200, 25, 25, 1) 0%,
    rgba(182, 147, 30, 1) 100%
  );
  border-radius: 0 10px;
}
